var proxy = {{.Proxy}};
var routes = {{.Routes}};

function FindProxyForURL(url, host) {
  host = host.toLowerCase();
  var scheme = url.substring(0, url.indexOf(':')).toLowerCase();
  var urlPort = portForURL(url, scheme);
  for (var i = 0; i < routes.length; i++) {
    if (matchesRoute(routes[i], scheme, host, urlPort)) return proxy;
  }
  return 'DIRECT';
}

function portForURL(url, scheme) {
  var parsedPort = url.match(/^[a-zA-Z]+:\/\/\[[^\]]+\]:(\d+)/) || url.match(/^[a-zA-Z]+:\/\/[^\/:]+:(\d+)/);
  return parsedPort ? parsedPort[1] : (scheme == 'https' ? '443' : '80');
}

function matchesRoute(route, scheme, host, port) {
  if (scheme != route.scheme || (route.port != '' && port != route.port)) return false;
  if (route.match == 'exact') return host == route.host;
  var suffix = '.' + route.host;
  if (!dnsDomainIs(host, suffix)) return false;
  var prefix = host.substring(0, host.length - suffix.length);
  return route.match == 'recursive' || prefix.indexOf('.') == -1;
}
